.curved-loop-jacket {
  min-height: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  position: relative;
  overflow: visible;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

.curved-loop-svg {
  user-select: none;
  width: 100vw;
  aspect-ratio: 100 / 12;
  overflow: visible;
  display: block;
  font-size: 6rem;
  fill: var(--color-text-primary, #000000);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}
