.gridPattern {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 0;
  overflow: visible;
  width: 100vw;
  height: 100vh;
}

.svg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.gridLine {
  color: rgba(0, 0, 0, 0.15);
  stroke: rgba(0, 0, 0, 0.15);
}

.squares {
  position: absolute;
  inset: 0;
}

